Flask
Flask-Migrate
Flask-CORS
SQLAlchemy
werkzeug

# Para JWT SIN cryptography (versión antigua)
PyJWT==1.7.1
requests

# Para variables de entorno
python-dotenv

# Para base de datos MySQL
pymysql
mysqlclient

# Para despliegue
zappa
